name: Build Docker Image
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
            username: ${{ secrets.GH_ACTOR }}
            password: ${{ secrets.GH_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
            context: .
            file: .devcontainer/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_HUB_USERNAME }}/ubuntu25.10-clang21:latest
            build-args: |
              BUILD_DATE=${{ github.event.head_commit.timestamp }}
              VCS_REF=${{ github.sha }}
              VCS_URL=${{ github.event.repository.html_url }}
              VERSION=1.0.0
