name: CMake on multiple platforms

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        build_type: [Coverage, Release, Asan, Usan]
        c_compiler: [gcc]
        cpp_compiler: [g++]

    steps:
    - uses: actions/checkout@v4

    - name: Instance information
      id: strings
      shell: bash
      run: >
        echo "CORES: $(nproc)"
        echo "CPU: $(lscpu | grep 'Model name' | sed 's/Model name:\s*//')"
        echo "RAM: $(free -h | grep 'Mem:' | awk '{print $2}')"
        echo "OS: $(uname -s)"
        echo "OS Version: $(uname -r)"

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }} --parallel $(nproc)

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      env:
        CTEST_EXTRA_COMMAND_OPTIONS: ${{ matrix.build_type == 'Coverage' && '-T Test -T coverage' || '' }}
      run: 'ctest --output-on-failure --parallel $(nproc) --build-config ${{ matrix.build_type }} ${CTEST_EXTRA_COMMAND_OPTIONS}'
